<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>

  <body>
    <!-- nav  -->
    <%-include('./partials/nav')%>
      <main class="page">
        <section class="about-page">
          <article>
            <h2>I'm baby coloring book poke taxidermy</h2>
            <p>
              Taxidermy forage glossier letterpress heirloom before they sold out
              you probably haven't heard of them banh mi biodiesel chia.
            </p>
            <p>
              Taiyaki tumblr flexitarian jean shorts brunch, aesthetic salvia
              retro.
            </p>
            <a href="contact" class="btn"> contact </a>
          </article>
          <!-- needs fixes -->
          <img src="../recipes/about.jpeg" alt="Person Pouring Salt in Bowl" class="img about-img" />
        </section>

        <section class="featured-recipes">
          <h5 class="featured-title">Look At This Awesome souce!</h5>
          <div class="recipes-list">

            <% if (aboutData.length>0) { %>
              <%aboutData.reverse().forEach(data=> { %>
                <a href="/get-single-info/<%=data._id %>" class="recipe">
                  <img src="../recipes/<%=data.image %> " alt="" class="img recipe-img">
                  <h5>
                    <%= data.recipeName %>
                  </h5>
                  <p>Prep:<%=data.preparationTime%> | Cook:<%=data.cookTime %>
                  </p>
                </a>
                <% }) %>
                  <% } else { %>
                    <p>Content not available at the moment</p>
                    <% } %>
          </div>
        </section>

      </main>
      <%-include('./partials/footer')%>
        <script src="../js/main.js"></script>
        <script src="../js/nav.js"></script>

  </body>

</html>