<!DOCTYPE html>
<html lang="en">
<%-include ('./partials/head') %>

  <body>
    <!-- nav  -->
    <%-include ('./partials/nav2') %>
      <!-- end of nav -->
      <main class="page">
        <section class="contact-container">
          <article class="contact-info">
            <h3>Want To Get In Touch?</h3>
            <p>
              No matter what the recipe,
               any baker can do wonders in the kitchen with some good ingredients and an upbeat attitude!
            </p>
            <p>
              If you really want to make a friend, go to someone's house and eat with him...
              the people who give you their food give you their heart..
            </p>
            <p> Your hand can perform the magic<i class="fa fa-smile-wink smile-icon" ></i> </p>
          </article>
          <article>
            <form class="form contact-form" id="form-contact">
              <div class="form-row">
                <label html="name" class="form-label">your name</label>
                <input type="text" name="name" id="name" class="form-input" autocomplete="off" />
              </div>
              <div class="form-row">
                <label html="email" class="form-label">your email</label>
                <input type="text" name="email" id="email" class="form-input" autocomplete="off" />
              </div>
              <div class="form-row">
                <label html="message" class="form-label">message</label>
                <textarea name="message" id="message" class="form-textarea"></textarea>
              </div>
              <button type="submit" class="btn btn-block">
                submit
              </button>
            </form>
          </article>
        </section>

        <!-- featured recipes -->
        <section class="featured-recipes">
          <h5 class="featured-title">Look At This Awesomesouce!</h5>
          <div class="recipes-list">

            <!--first single recipe -->
            <% if (contactHome.length>0) { %>
              <%contactHome.slice(contactHome.length-6,contactHome.length).reverse().forEach(data=> { %>

                <a href="/get-single-info/<%=data._id %>" class="recipe" id="contact-recipe">
                  <img src="../imageUploads/<%=data.image %> " alt="<%= data.recipeName %>" class=" img recipe-img">
                  <h5>
                    <%= data.recipeName %>
                  </h5>
                </a>

                <% }) %>
                  <% } else { %>
                    <p>Content not available at the moment</p>
                    <% } %>


          </div>
        </section>

      </main>
      <!-- footer -->
      <%-include('./partials/footer')%>
        <!-- footer ends -->

        <script src="../js/main.js"></script>
        <script src="../js/nav.js"></script>
        <script>
          const form = document.querySelector('#form-contact');
          form.addEventListener('submit',(e) => {
              e.preventDefault();
          })
        </script>
  </body>

</html>