<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>

  <body>
    <%-include('./partials/nav2')%>

      <!-- main -->
      <main class="page">
        <h4 id="all-recipe">All Recipes</h4>
        <section class="allREpShadow">

          <!-- recipes list -->
          <% if (recipeData.length>0) { %>
            <div class="recipes-list">
              <%recipeData.reverse().forEach(data=> { %>
                <a href="/get-single-info/<%=data._id %>" class="recipe">
                  <img src="../imageUploads/<%=data.image %> " alt="<%= data.recipeName %>" class="img recipe-img">
                  <h5>
                    <%= data.recipeName%>
                  </h5>
                  <p><%=data.category %>
                  </p>
                </a>
                <% }) %>
                  <% } else { %>
                    <p>Recipe Content not available at the moment</p>
                    <% } %>
          </div>
        </section>
      </main>

      <!-- end of main -->
      <!-- footer -->
      <%-include('./partials/footer')%>
        <!-- footer ends -->
        
        <script src="../js/main.js"></script>
        <script src="../js/nav.js"></script>
  </body>

</html>