<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%> 
<body>
  <%-include('./partials/nav')%> 

  <main class="page">
    <div class="recipe-page">
      <% if (Data) { %>
        <% Data.forEach(data => { %>
         
      <section class="recipe-hero">
        <img src="../recipes/<%=data.image %>" alt="" class="img recipe-img">
        <article class="recipe-info">
          <h2><%=data.recipeName %></h2>
          <p><%=data.bio%> </p>

          <div class="recipe-icons">
            <article>
              <i class="fas fa-clock"></i>
              <h5>prep time</h5>
              <p><%= data.preparationTime%></p>
            </article>

            <article>
              <i class="far fa-clock"></i>
              <h5>cook time</h5>
              <p><%= data.cookTime %></p>
            </article>

            <article>
              <i class="fas fa-user-friends"></i>
              <h5>serving</h5>
              <p>6 servings</p>
            </article>

          </div>

          <p class="recipe-tags">
            Tags : <a href="/category">beef</a>
            <a href="/category">breakfast</a>
            <a href="/category">lunch</a>
            <a href="/category">pancakes</a>
          </p>
        </article>
      </section>


     
      <!-- content -->
      <section class="recipe-content">
       
        
        <article>
          <h4>instructions</h4>
          <!-- single instruction -->

          <% data.instructions.split(',').forEach((element,index) => { %>
           <div class="single-instruction">
             <header>
               <p>step<%= index+1 %> </p>
               <div></div>
             </header>
             <p><%= element %> </p>
           </div>
          <% }) %>
         
          <!-- end of  instruction -->
                         
        </article>

        <article class="second-column">
          <div>
            <h4>ingredients</h4>
            <% data.ingredients.split(',').forEach(element => { %>
                <p class="single-ingredient"><%=element%></p>
            <% }) %>
          </div>

          <div>
            <h4>Items Needed</h4>
          <% data.itemsNeeded.split(',').forEach(element => { %> 
            <p class="single-tool"><%=element %></p>
            <% }) %> 
          </div>
        </article>
      </section>
      <% }) %>
      <% } %>
    </div>
  </main>

   <!-- footer -->
   <%-include('./partials/footer')%> 
   <!-- footer ends -->

   <script src="../js/main.js"></script>
   <script src="../js/nav.js"></script>
</body>
</html>